{% block title %}
HomePage
{% endblock %}
{% block content %}
{% if user.is_authenticated %}
  Hello, {{ user.username }}!
  <a href="{% url 'logout' %}">Logout</a><br>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Login Page</a>
{% endif %}
{% endblock %}